#overlay-icon {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 48px;
    height: 48px;
    z-index: 999999;
    cursor: pointer;

    /* Visibility Enhancements */
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    padding: 6px;
    filter: drop-shadow(0 0 4px white);
}
